/* Import Tailwind's base styles, component styles, and utility classes */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom component styles in this section */
@layer components {
  
  /* Custom class to remove spinner from number inputs */
  .no-spinner {
    /* Remove default appearance of textfield for Firefox */
    -moz-appearance: textfield;
  }

  /* Remove spinner buttons from number inputs in WebKit browsers */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0; /* Remove default margin */
    -webkit-appearance: none; /* Remove default appearance */
  }
}
